@{
    ViewData["Title"] = "Home";
}

<div class="container">

    <div class="text-center">
        <h1 class="display-4">Bem vindo</h1>
        <p>Esta página foi desenvolvida por Wagner Gaspar apenas para fins de aprendizagem.</p>
        <p>Aqui você encontra alguns jogos (por enquanto apenas o jogo da velha) desenvolvidos com a finalidade de conhecer e praticar novas tecnologias.</p>
    </div>

    <div class="container">
        <h3>Jogo da velha #</h3>
        <p>O jogo da velha foi desenvolvido como um projeto ASP.NET Core MVC na versão .NET 6. Para a interface 
            foi utilizado HTML, CSS, Javascript e Vue. Para a troca de mensagens entre os jogadores foi utilizado a
            biblioteca SignalR para comunicação em tempo real.
        </p>
    </div>

    @*<div class="alertMensagemSuvesso">
        <div id="alert" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            Obrigado por confirmar seu email.
        </div>
    </div>

    <div class="alertMensagemAlerta">
        <div id="alert" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            Obrigado por confirmar seu email.
        </div>
    </div>*@

</div>
