@{
    ViewData["Title"] = "Privacidade";
}

<div class="text-center">
    <h1 class="display-4">Privacidade</h1>
    <p>O único dado sensível coletado neste site é o e-mail do usuário utilizado no cadastro</p>
    <p>O e-mail se faz necessário para estabelecer uma comunicação em tempo real durante os jogos entre os jogadores.</p>
    <p>O e-mail é utilizado único e exclusivamente para a finalidade referida acima.</p>
    <p>Em nenhuma hipótese o e-mail do usuário será compartilhado com terceiros exceto casos previstos na legislação brasileira por força da lei.</p>
</div>
